* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 5em;
  background: hsl(204, 6%, 16%);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 490px) {
  body {
    padding: 2em;
  }
}
h1 {
  font-size: 6em;
  margin: 0;
  font-weight: 600;
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 1rem;
  font-weight: normal;
}

.ctas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 2rem 0;
}

@media screen and (max-width: 710px) {
  .ctas {
    grid-template-columns: 1fr;
  }
}

.cta {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  outline: none !important;
  height: 80px;
}

.cta.firefox {
  background-color: #109ad6;
}

.cta img {
  height: 100%;
  width: auto;
}

.logo {
  height: 6em;
  margin-bottom: 1em;
}

.contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 5.4rem;
}

.contributors h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.contributors img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.25rem;
  color: transparent;
}

.contribute-btn {
  font-size: 0.7em;
  color: hsl(0, 0%, 100%);
  margin-top: 0.75rem;
}
